# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Ignore models
models/
*.pkl

# Ignore ONLY heavy image folder
data/raw/Indian-monuments/

# Keep datasets
!data/raw/*.csv
!data/processed/
!data/processed/*.csv

# Notebook cache
.ipynb_checkpoints/

tempCodeRunnerFile.py